<script type="text/javascript">
$(function(){
	$("#gallery").slides({
		effect: 'fade',
		container: 'gallery_container',
		play: 5000,
		pause: 2500,
		hoverPause: true
	});
});
$(document).ready(function(){
	function closeWindow(){
		$(parent.document).find('#mask, .window').hide();
		$(parent.document).find('.galleryIframe').attr('src', "");
		$(parent.document).find('.galleryIframe').empty();
	}
	$(document).keyup(function(e){
		switch(e.which){
			case 27:
	       		closeWindow();
	       		break;
		}
	});
});
</script>
<div id="gallerywrapper">
	<div id="windowFrame">
		<div id="gallery">
			<div class="gallery_container">
				<% @images.each do |image|%>
					<% if image.exclude?("forside_") %>
						<div>
							<%= image_tag(image, :alt => "image", :style => "margin-top:"+(210 - (getHeight(image)/2)).to_s+"px") %>
						</div>		
					<% end %>
				<% end %>
			</div>
			<a href="#" class="prev"><%= image_tag("arrow-prev.png", :alt => "Arrow Prev", :width => "24", :height => "43") %></a>
			<a href="#" class="next"><%= image_tag("arrow-next.png", :alt => "Arrow Next", :width => "24", :height => "43") %></a>
		</div>
	</div>
</div>