<div id="menu">
	<nav>
		<ul>
			<li><%= link_to "Home", root_path %></li>
			<li><%= link_to "Portofolio", portofolio_path %></li>
			<li><%= link_to "About", about_path %></li>
			<li><a href="#">Blogg</a></li>
		</ul>
	</nav>
</div>