<div id="page">
	<div id="elementWrapper">
		<%= render "menu" %>
		<div id="content">
			<div id="contentwrapper">
				<h1>Iselin Jansen</h1>			
				<p>
					Iselin Jansen (1991) comes from Fetsund, a small town just outside Oslo. 
					She’s been dancing since she was three years old, but discovered early her passion for photography. 
					At high school she studied classical ballet, contemporary and jazz.
				</p>
				<p>
					From 2010 til 2012 she studied photography at Bilder nordic school of photography. 
					Here she had teachers and mentors as Isidor Åstrøm, Margaret M. De Lange, 
					Marcus Bleasdale, Damian Heinisch, Hans Olav Forsang, Amber Terranova and Ashley Cameron among others. 
				</p>
				<p>
					As a natural choice Iselin photographs a lot of dancers and she has worked with the choreography duo Subjazz, 
					ODE (Oslo danse ensemble), dancers from the norwegian national ballet, and a lot of professional freelance dancers. 
					She has also worked with different music and media productions. 
					Basicly Iselin photographs dance, fashion and streetlife. 
					She mixes her love of theatre with street photography.
				</p>
			</div>
		</div>
	</div>
	<div id="footer">&nbsp;</div>
</div>