<div id="page">
	<%= render "menu" %>
	<div id="elementWrapper">
		<div id="content">
			<div id="contentwrapper">
				<script type="text/javascript">
				$(function(){
					$("#slides").slides({
						effect: 'fade',
						generatePagination: false,
						generateNextPrev: false,
						play: 5000
					});
				});
				</script>
				<div id="slidewrapper">
					<div id="frame">
						<div id="slides">
							<div class="slides_container">
								<% @images.each do |image|%>
								<div>
									<%= image_tag(image, :alt => "image", :style => "margin-top:"+(250 - (getHeight(image)/2)).to_s+"px") %>
								</div>
								<% end %>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="footer"><%= render "footer" %></div>
</div>