// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
    margin: 0;
    margin-bottom: 25px;
    padding: 0;
    background-color: #000000;
    font-family: "Lucida Grande", "Bitstream Vera Sans", "Verdana";
    font-size: 13px;
    color: #333;
  }

  h1 {
    font-size: 28px;
    color: white;
  }

  a  {
	color: #03c
  }

  a:hover {
    background-color: #03c;
    color: white;
    text-decoration: none;
  }


  #page {
    background-color: #000000;
    width: 952px;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
  }

  #elementWrapper {
	float: left;
  }

  #header {
    background-color: #111;
    border: 1px solid #222;
    border-top: none;
  }

  #menu {

  }

  #menu ul {
	list-style-type: none; 
    margin: 0;
 	padding: 0;
  }

  #menu li {
    float: left;
  }

  #menu ul li a {
	display: block;
	border: 1px solid #222;
    border-top: none; 
	padding: 5px 20px 5px 20px; 
	background: #000;
	width: 196px;
	text-decoration: none; 
	text-align: center;
	color: white;
  }

  #menu ul li a:hover {
	color: white;
	background: gray; 
  }

  #content {
    float: left;
    background-color: #111;
    border: 1px solid #222;
    border-top: none;
    padding: 25px;
    width: 900px;
  }

  #footer {
    clear: both;
  }

  #about, #getting-started {
    padding-left: 70px;
    padding-right: 30px;
  }

  #getting-started {

  }

  #getting-started h1 {
    margin: 0;
    font-size: 20px;
  }

  #getting-started h2 {
    margin: 0;
    font-size: 14px;
    font-weight: normal;
    color: #333;
    margin-bottom: 25px;
  }

  #getting-started ol {
    margin-left: 0;
    padding-left: 0;
  }

  #getting-started li {
    font-size: 18px;
    color: #888;
    margin-bottom: 25px;
  }

  #getting-started li h2 {
    margin: 0;
    font-weight: normal;
    font-size: 18px;
    color: #333;
  }

  #getting-started li p {
    color: #555;
    font-size: 13px;
  }

  .filename {
    font-style: italic;
  }